.product img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}

#featured > div.row.mx-auto.container > nav > ul > li.page-item.active >a{
   background-color: black; 
}

#featured > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
    background-color: coral;
    color: #fff;
}

.pagination a{
    color: #000;
}






/*      product     */
.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.sproduct select{
    display: block;
    padding: 5px 10px;
}

.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.sproduct input:focus{
    outline: none;
}

.buy-btn{
    background: #fb774b;
    opacity: 1;
    transition: 0.3s all;
}